<div class="container-fluid mb-5">
  <h1 class="text-center mb-3 mt-3">Admin</h1>
  <hr>

  <div class="col-md-4" [routerLink]="['/admin/allrooms']">
    <div class="card text-white bg-danger mb-2 pt-2">
      <div class="card-body">
        <h5 class="card-title text-center">All rooms</h5>
      </div>
    </div>
  </div>

  <div class="col-md-4" [routerLink]="['/admin/users-account']">
    <div class="card text-white bg-success mb-2 pt-2">
      <div class="card-body">
        <h5 class="card-title text-center">Users</h5>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-4">
      <div class="card text-white bg-danger mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Danger card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-warning mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-info mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div> -->


  <!-- <div class="row">

    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

  </div> -->

</div>
