<!-- SignIn Area Start -->
<section id="logRegForm" class="logRegForm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10">
        <div class="contact_form_wrappre2">
          <h2>
            Login
          </h2>
          <form #f="ngForm" (ngSubmit)="signIn(f.value)">
            <div class="inputArea">
              <div class="form-row">
                <div class="col">
                  <div class="input-group">
                    <input type="text" id="username" name="username" class="form-control" ngModel
                           placeholder="Enter username or email" aria-describedby="Site" required>
                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="Site">
                                                <i class="fas fa-user"></i>
                                            </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="input-group">
                    <input type="password" id="password" name="password" class="form-control" ngModel
                           placeholder="Your password" aria-describedby="url" required>
                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="url">
                                                <i class="fas fa-key"></i>
                                            </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <button class="loginnow" type="submit">Login Now</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SignIn Area Start -->
<div class="hide">Last version updated 17/02/21 18:43</div>
